{% extends 'base.html.twig' %}

{% block title %}A propos d'Adopte un Wilder{% endblock %}

{% block body %}
    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                    <h3 class="mb-3">La team Adopte un Wilder</h3>
                    <h6 class="subtitle">
                        Pour ce dernier projet de la <a href="https://www.wildcodeschool.com/fr-FR">Wild Code School</a>,
                        on a voulu trouver un moyen de mettre en avant les différents profils de Wilders auprès des entreprises qui recrutent.<br>
                        Nous aussi nous sommes à l'adoption ;)
                    </h6>
                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/assets/images/margaux.png" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Margaux</h5>
                                <h6 class="subtitle mb-3">Développeuse PHP/Symfony</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/assets/images/tritcha.png" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Tritchaphorn</h5>
                                <h6 class="subtitle mb-3">Développeuse PHP/Symfony</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/assets/images/amaria.png" alt="wrapkit" class="img-fluid rounded-circle about-images" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Amaria</h5>
                                <h6 class="subtitle mb-3">Développeuse PHP/Symfony</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/assets/images/mamadou.png" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Mamadou</h5>
                                <h6 class="subtitle mb-3">Développeur PHP/Symfony</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
