<form  style="float: left" method="post" action="{{ path('infos_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer votre compte !?');">
    <input type="hidden" name="id" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="btn btn-danger px-3"><i class="far fa-trash-alt"></i></button>
</form>
