{% extends 'base.html.twig' %}

{% block title %}Vos infos{% endblock %}

{% block body %}

    <h1> Vos infos </h1>

    <section style="width: 60%">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}
        </button>
        {{ form_end(form) }}
    </section>

{% endblock %}
